@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#navbar{
    background-color:black;
    
}
ul{
    font-size: 20px;
}

li{
    display:inline;
    float:right;
    margin-right:30px;
    padding-top: 10px;
    
}

#logo_li{
    float:left;
    font-size:60px;
    padding:0 !important;
}

#logo_img{
    width:150px;
}

#signupcontainer{
    display:block;
    /* background-color:yellow; */
    
    margin-top:300px;
    clear: both;
    text-align:center;
    
}
#mainlogo{
    width:300px;
}

#signupform{
    background-color: #F230AA;
    border-radius: 25px;
    border: 2px solid white;
    width:700px;
    height: 482px;
    margin:auto;
    text-align:left;
    padding-left:50px;
    padding-right:50px;
    padding-top:15px;
    padding-bottom:20px;
    font-family: 'Roboto';
    font-style:normal;
    color: white;
}

input{
    width: 238px;
    height: 30px;
    border-radius: 15px;
    background-color: #ffd2ee;
    border-color: #F230AA;
    font-family: 'Roboto';
    font-style: italic;
    color: black;
}

select{
    width: 238px;
    height: 30px;
    border-radius: 15px;
    background-color: #ffd2ee;
    border-color: #F230AA;
    font-family: 'Roboto';
    font-style: italic;
    color: black;
}

#signupheader{
    text-align:center;
    font-size: 30px !important;
    font-family: 'Roboto', sans-serif !important; 
    margin:0!important;
}

.col{
    display:inline;
    float:left;
    width:50%;  
}

#signupform input{
    height:30px;
    width:80%;
}

#signupbutton{
    height: 70px;
    width: 40%;
    background-color:#F230AA;
    margin-top:30px;
    box-shadow:none !important;
    border-radius:20px;
    margin-bottom:50px;
    color: white;
    font-size: medium;
}

#terms{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}

.errormsg{
    color:rgb(255, 255, 255);
}